
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-social/bootstrap-social.scss";

.fa-pencil {
    cursor: pointer;
    margin-left: 5px;
}

.edit--block {
    display: flex;
    flex-direction: row;
}

.edit--block > i {
    margin-left: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.user--img {
    margin-bottom: 10px;
}